In [4]:
import pandas as pd
import numpy as np

In [5]:
series = pd.date_range(start = '2022-02-28' , end = '2022-03-28', freq='20S')

In [15]:
df = pd.DataFrame(index = series)
df['count'] = np.random.choice([5,4,3,2,1,0], p = [0.01, 0.02, 0.03, 0.04, 0.5,0.74], size = (len(series)))

In [22]:
def cumsum_day(frame):
    cumul_list = []
    day = frame.index[0].day
    for i in range(len(frame)):
        if day == frame.index[i].day:
            if len(cumul_list) == 0:
                cumul_list.append(frame['count'][i])
            else:
                cumul_list.append((cumul_list[i-1]) + (frame['count'][i]))
        else:
            day = frame.index[i].day
            cumul_list.append(frame['count'][i])
    frame['cumulative count (day)'] = cumul_list
    return frame
df = cumsum_day(df)

                     count  cumulative count (day)
2022-02-28 00:00:00      0                       0
2022-02-28 00:00:20      0                       0
2022-02-28 00:00:40      3                       3
2022-02-28 00:01:00      0                       3
2022-02-28 00:01:20      3                       6
2022-02-28 00:01:40      0                       6
2022-02-28 00:02:00      3                       9
2022-02-28 00:02:20      2                      11
2022-02-28 00:02:40      1                      12
2022-02-28 00:03:00      0                      12
2022-02-28 00:03:20      0                      12
2022-02-28 00:03:40      0                      12
2022-02-28 00:04:00      0                      12
2022-02-28 00:04:20      0                      12
2022-02-28 00:04:40      0                      12
2022-02-28 00:05:00      0                      12
2022-02-28 00:05:20      1                      13
2022-02-28 00:05:40      3                      16
2022-02-28 00:06:00      0                      16
2022-02-28 00:06:20      0                      16
2022-02-28 00:06:40      0                      16
2022-02-28 00:07:00      1                      17
2022-02-28 00:07:20      0                      17
2022-02-28 00:07:40      0                      17
2022-02-28 00:08:00      0                      17
2022-02-28 00:08:20      0                      17
2022-02-28 00:08:40      0                      17
2022-02-28 00:09:00      0                      17
2022-02-28 00:09:20      3                      20
2022-02-28 00:09:40      0                      20
...                    ...                     ...
2022-03-27 23:50:20      0                    2546
2022-03-27 23:50:40      0                    2546
2022-03-27 23:51:00      1                    2547
2022-03-27 23:51:20      0                    2547
2022-03-27 23:51:40      0                    2547
2022-03-27 23:52:00      0                    2547
2022-03-27 23:52:20      0                    2547
2022-03-27 23:52:40      0                    2547
2022-03-27 23:53:00      1                    2548
2022-03-27 23:53:20      3                    2551
2022-03-27 23:53:40      1                    2552
2022-03-27 23:54:00      0                    2552
2022-03-27 23:54:20      5                    2557
2022-03-27 23:54:40      0                    2557
2022-03-27 23:55:00      1                    2558
2022-03-27 23:55:20      1                    2559
2022-03-27 23:55:40      0                    2559
2022-03-27 23:56:00      0                    2559
2022-03-27 23:56:20      1                    2560
2022-03-27 23:56:40      0                    2560
2022-03-27 23:57:00      0                    2560
2022-03-27 23:57:20      3                    2563
2022-03-27 23:57:40      0                    2563
2022-03-27 23:58:00      0                    2563
2022-03-27 23:58:20      0                    2563
2022-03-27 23:58:40      0                    2563
2022-03-27 23:59:00      0                    2563
2022-03-27 23:59:20      1                    2564
2022-03-27 23:59:40      0                    2564
2022-03-28 00:00:00      0                       0

[120961 rows x 2 columns]